:root {
    --white : #ffffff;
    --black: #000000;
}
h1, h2 {
    color: var(--black);
    background-color: var(--white);
}
.skill-title, h3 {
    text-decoration-color: var(--black);
    text-decoration-thickness: 2px;
}
.noprint {
    display: none;
}
#imilien {
    color: var(--black);
    opacity: 50%;
}


.print {
    display: inline;
}
#linksQR {
    display: flex;
}
#links {
   align-items: baseline; 
}
#QR-img {
    width: 4cm;
}

@page { size: auto;  margin: 5mm; }
body {
    font-size: 12px;
    border: 0;
    }
.flex {
    display: flex;
    justify-content: space-between;
}
.flChild3 {
    width: 32%;
}
    
h1, h2 {
    margin-top: 0.2%;
    margin-bottom: 0.2%;
}
#presentation {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 18px;
}
footer{
    display: none;
}
li {
    padding-bottom: 5px;
}
#presText {
    border: 3px;
    width: 80%s;
}