:root {
    --light: #87CEFA;
    --dark: #5B7FC5;
    --life: #3A8DEF;
    --white:#eadede;
    --grey: #eadedea3;
}
.print {
    display: none;
}
.accent {
    font-weight: 700;
}
body {  
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    background-color: var(--white);
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: var(--life);
    transform: scale(110%);
}
ul {
    padding-inline-start: 0;
}
li {
    padding-bottom: 18px;
    list-style-type: none;
}
h1 {
    color: var(--white);
    background-color: var(--life);
    margin-top: 2vh;
    border-radius: 15%; 
}
h2 {
    color: var(--white);
    background-color: var(--dark);
    border-radius: 15%; 
}

h3 {
    margin-bottom: 8px;
    text-decoration: underline;
    text-decoration-color: var(--life);
    text-decoration-thickness: 4px;
    opacity: 70%;
}
ul {
    margin-top: 5px;  
}
#imilien {
    color: var(--grey);
}
#presentation {
    margin: auto;
    display: flex;
    flex-direction: column-reverse; 
}
#links {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding : 18px;

    max-width: 60%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 70%;
}

#tech-skills {
    text-align: left;
}

.other-skill-title {
    font-weight: 800;
}

.skill-title {
    text-decoration: underline;
    text-decoration-color: var(--life);
    text-decoration-thickness: 4px;
    font-weight: 700;
}
#presText {
    border: 4px solid var(--life);
    border-radius: 5%;
    padding : 18px;
    max-width: 60%;
    margin: auto;
}

#skills {
    margin: 0;
}

footer {
    width: 80%;
    height: 5vh;
    background-color: var(--life);
    bottom: 0;
    left: 50%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translate(-50%, -0%);
    border-radius: 20% 20% 0 0;
    opacity: 0;
    animation: slideUp 2s forwards; /* Animation with duration */
    animation-delay: 2s;
}
@keyframes slideUp {
    from {
        transform: translate(-50%, 100%); /* Start off-screen */
        opacity: 0; /* Start as invisible */
    }
    to {
        transform: translate(-50%, 0); /* End at its normal position */
        opacity: 1; /* Make it visible */
    }
}
footer img {
    height: 3.5vh; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
    display: block;
}

#mail, #tel, #pdf, #traducer {
    color: var(--white);
    font-weight: bold;
    display: flex; /* Make anchor tags flex containers */
    align-items: center; /* Center images vertically in anchor tags */
}

@media only screen and (min-width: 700px) {
    body {
        font-size: 120%;
        background-color: ffffff;
    }
    .flex {
        display: flex;
        justify-content: space-between;
    }
    .flChild3 {
        width: 32%;
    }
    #presentation {
        flex-direction: row;
        align-items: center;
        gap: 18px;
    }
    footer {
        width: 50%;
        background-color: var(--life);
        bottom: 0;
        left: 50%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        transform: scale(120%);
        transform: translate(-50%, -0%);
    }
    #links {
        margin: 0;
        max-width: 60%;
        padding: 18px;
    }
    .work ul:last-child {
        margin-bottom: 10vh;
    }
}
